@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #4CAF50;
}

h1{
    position: absolute;
    left: 0;
    top: 0;
}

h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

span, h3{
    position: absolute;
    bottom: 0;
    width: 50%;
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

/*---------------------------------------*/

#button{
  grid-column: 3/4;
}

/*---------------------------------------*/

.block1{
  grid-column: 3/4;
  width: 10em;
  height: 5em;
  transition: transform .2s cubic-bezier(.17,.67,.71,1.29);
  background-color: red;
}

.block2{
  grid-column:3/4;
  width: 10em;
  height: 5em;
  transition: transform .3s cubic-bezier(.17,.67,.71,1.29);
  background-color: white;
}
.block3{
  grid-column: 3/4;
  width: 10em;
  height: 5em;
  transition: transform .6s cubic-bezier(.17,.67,.71,1.29);
  background-color: blue;
}

/*---------------------------------------*/

.block1--move--out{
    transform: translate(10vw,12vh);
    background-color: red;
}
.block2--move--out{
  transform: translateX(10vw);
    background-color: blue;
}
.block3--move--out{
    transform: translate(10vw,-12vh);
    background-color: white;
}

/*---------------------------------------*/




.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


#container-div #button {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#container-div {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.animatie {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}


#container-div #button {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#container-div #button:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
